head
	title Hello Meteor


body
	+main


template(name="main")
	h2 {{helloMeteor}}
	
	h2 {{meteorIsBest.meteorIsGreat}}
	h2 {{meteorIsBest.meteorIsSoNic}}
	a(href="{{meteorIsBest.meteorUrl}}") Meteor URL



